{% extends 'base.html' %}
{% block container %}
{% load static %}

{% include "nav.html" %}

<h1>Blog Project</h1>
<a href="{%url 'new'%}">새 글 작성하기</a>

{%for blog in blogs%}
<div>
  <a href="{%url 'detail' blog.id%}">
  <h3>{{blog.title}}</h3>
  </a>
  <br>
  {{blog.writer}}
  {{blog.pub_date}}
  <br>
  <p>{{blog.summary}}</p>
  {% if blog.image %}
  <p><img src="{{blog.image.url}}" alt="" width="200" height="200"></p>
  {% endif %}
</div>
<hr>

{% include "footer.html" %}
{%endfor%}
{% endblock %}